<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Database</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style_data.css')}}">
</head>
<body>
    <h1>User Management using Flask and MySQL</h1><br>

    <h4>{% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                {{ messages }}
                {% endfor %}
        {% endif %}
        {% endwith %}
    </h4>

    <p><a href="{{url_for('newUser')}}">Add Users</a></p>
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>CITY</th>
            <th>PHONE NUMBER</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
        {% for data in datas %}
        <tr>
            <td>{{ data.ID }}</td>
            <td>{{ data.NAME }}</td>
            <td>{{ data.AGE }}</td>
            <td>{{ data.CITY }}</td>
            <td>{{ data.PHONE_NUMBER }}</td>
            <td><a href="{{url_for('editUser', id=data.ID)}}">Edit</a></td>
            <td><a onclick="return confirm('Are you sure to delete?');" href="{{url_for('deleteUser', id=data.ID)}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
